*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: normal;
  color: #383838;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  overflow-x: hidden;
}

h1, h2, h3 {
  text-transform: uppercase;
}

.flip-card--front, .flip-card--back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-transition: -webkit-transform .4s linear;
  transition: -webkit-transform .4s linear;
  transition: transform .4s linear;
  transition: transform .4s linear, -webkit-transform .4s linear;
}

.flip-card--front {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

.flip-card
.flip-card--back {
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
}

.flip-card:hover > .flip-card--front {
  -webkit-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg);
}

.flip-card:hover > .flip-card--back {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

@-webkit-keyframes move-vertically-down {
  0% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    opacity: 0;
  }
  30% {
    width: 3.2vw;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(5.5vh);
            transform: translateY(5.5vh);
    opacity: 0;
  }
}

@keyframes move-vertically-down {
  0% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    opacity: 0;
  }
  30% {
    width: 3.2vw;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(5.5vh);
            transform: translateY(5.5vh);
    opacity: 0;
  }
}

@-webkit-keyframes move-vertically-up {
  0% {
    -webkit-transform: translateY(5.5vh);
            transform: translateY(5.5vh);
    opacity: 0;
  }
  30% {
    width: 3.2vw;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    opacity: 0;
  }
}

@keyframes move-vertically-up {
  0% {
    -webkit-transform: translateY(5.5vh);
            transform: translateY(5.5vh);
    opacity: 0;
  }
  30% {
    width: 3.2vw;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    opacity: 0;
  }
}

nav {
  min-height: 11vh;
  padding-bottom: 1rem;
  font-family: "Alegreya", serif;
  position: relative;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: auto;
  background-color: #E6E5FF;
  z-index: 10;
  padding-bottom: .5rem;
}

.nav-container .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #383838;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4.2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  background-color: #E6E5FF;
  width: 100%;
}

.nav-container .nav-logo .nav-sublogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 1.6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10rem;
  margin-top: -1rem;
}

.nav-container .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 2rem;
}

.nav-container .nav-menu .nav-links {
  display: none;
}

.nav-container .nav-menu .burger-menu {
  padding: 2rem;
  position: fixed;
  top: -1.2rem;
  right: .1rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav-container .nav-menu .burger-menu--background {
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f7bc1c;
  border-radius: 100%;
}

.nav-container .nav-menu .burger-menu--background .line {
  height: 0.42rem;
  width: 2.5rem;
  background-color: black;
  margin: .4rem;
  border-radius: 40%;
}

.nav-container .nav-menu .burger-menu:hover {
  cursor: pointer;
}

.nav-container .nav-menu .burger-menu:hover .line {
  height: 0.7rem;
  width: 4rem;
}

@media screen and (min-device-width: 390px) and (max-device-width: 480px) {
  .nav-container .nav-logo {
    font-size: 4.7rem;
  }
  .nav-container .nav-logo .nav-sublogo {
    font-size: 1.8rem;
    padding-left: 11rem;
  }
  .nav-container .burger-menu .burger-menu--background {
    padding: 1.5rem;
  }
}

.section--header {
  min-height: 32vh;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 4rem 0;
  position: relative;
}

.section--header .header--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 62%;
          flex: 0 0 62%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section--header .header--info .header--toolIcon {
  display: none;
}

.section--header .header--info .header--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section--header .header--info .header--text--makeBold {
  font-weight: bolder;
}

.section--header .header--flatCharacterHandyman {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 5vw;
  width: auto;
}

.section--header .header--flatCharacterHandyman svg {
  width: 13rem;
  height: auto;
}

@media screen and (min-device-width: 390px) and (max-device-width: 480px) {
  .section--header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 78%;
            flex: 0 0 78%;
    font-size: 1.3rem;
    min-height: 34vh;
  }
  .header--text {
    position: absolute;
    padding-left: 4rem;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  body {
    background-color: #ff9393;
  }
}

.section2--servicesOffered {
  min-height: 100vh;
  font-size: 1.1rem;
  padding: 6em 0;
}

.section2--servicesOffered .section2--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2--servicesOffered .section2--wrapper .section2--title {
  font-size: 2.2rem;
  padding-bottom: 2rem;
  width: 100%;
  text-align: center;
}

.section2--servicesOffered .section2--wrapper .section2--cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.section2--servicesOffered .section2--wrapper .section2--cards .flip-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
  margin: 1rem 1rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 13.5rem;
  min-height: 15rem;
  background-color: #f6f6ff57;
  position: relative;
}

.section2--servicesOffered .section2--wrapper .section2--cards .flip-card--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 7rem;
  padding-top: 1rem;
}

.section2--servicesOffered .section2--wrapper .section2--cards .flip-card--icon img {
  width: 50%;
  height: 100%;
}

.section2--servicesOffered .section2--wrapper .section2--cards .flip-card--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 6rem;
  padding: 0 1rem;
}

.section2--servicesOffered .section2--wrapper .section2--cards .flip-card--text h3 {
  text-align: center;
}

.section03--meetTheOwner {
  min-height: 60vh;
  padding: 6rem 0;
}

.slider-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-section-wrapper .title {
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  padding-bottom: 2rem;
}

.slider-section-wrapper .slider-container {
  width: 90vw;
  height: 40vh;
  background-color: #E6E5FF;
  -webkit-box-shadow: 0px 7px 17px #000000;
          box-shadow: 0px 7px 17px #000000;
  border-radius: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
}

.slider-section-wrapper .slider-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50%;
  text-align: center;
  border-radius: 15%;
  padding: 2rem;
  font-size: 1.7rem;
}

.slider-section-wrapper .slider-block__left {
  background-color: #E6E5FF;
}

.slider-section-wrapper .slider-block__right {
  background-color: #E6E5FF;
}

.slider-section-wrapper .slider-block__top {
  position: absolute;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 5px #000000;
          box-shadow: 2px 2px 5px #000000;
  right: 0;
  top: 0;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-section-wrapper .slider-block__top .top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-section-wrapper .slider-block__top .top-wrapper .owner-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30vw;
          flex: 0 0 30vw;
}

.slider-section-wrapper .slider-block__top .top-wrapper .owner-img img {
  width: 75%;
  height: auto;
  border-radius: 100%;
  opacity: .90;
  padding: 1vw;
  -webkit-box-shadow: 0px 0px 0.5rem #000000;
          box-shadow: 0px 0px 0.5rem #000000;
}

.slider-section-wrapper .slider-block__top .top-wrapper .hello-text {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 2.5rem;
}

.slider-section-wrapper .slider-block__top .top-wrapper-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.slider-section-wrapper .slider-block__top .sliderButton {
  background-color: #000000;
  -webkit-box-shadow: 1px 2px 5px #000000;
          box-shadow: 1px 2px 5px #000000;
  height: 63px;
  width: 48px;
  border-radius: 38%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-section-wrapper .slider-block__top .sliderButton .moving-circle {
  position: absolute;
  background-color: #E6E5FF;
  -webkit-box-shadow: 0px 0px 20px #000000;
          box-shadow: 0px 0px 20px #000000;
  height: .3vh;
  width: 3vw;
  border-radius: 100%;
  top: 1vh;
  -webkit-animation-name: move-vertically-down;
          animation-name: move-vertically-down;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.slide {
  -webkit-transform: translateY(20vh);
          transform: translateY(20vh);
}

.section04--past-works {
  min-height: 60vh;
  padding: 6rem 0;
}

.past-works-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.past-works-container .past-works-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */