.section04--past-works{
    min-height: 60vh;
    padding: 6rem 0;
    
}


.past-works-container{
    display: flex;
    flex-direction: column;

  .past-works-title{
    display: flex;
    text-align: center;
    justify-content: center;
}  

    // .past-works-gallery{
    //     height: 50rem;
    //     width: 30rem;
    //     background-color: blue;
    // }


}

